/* Стилізація заголовків таблиці */
table {
    width: 190%; /* Збільшена ширина таблиці (за замовчуванням 80%) */

    margin: 20px auto; /* Вирівнювання по центру */
    border-collapse: collapse; /* Злиття границь комірок */
}

th {
    background-color: #f2f2f2; /* Фон заголовків */
    text-align: left; /* Вирівнювання тексту вліво */
    padding: 10px; /* Внутрішній відступ */
    border: 1px solid #ddd; /* Границя заголовків */
}

/* Стилізація контенту таблиці */
td {
    padding: 8px; /* Внутрішній відступ комірок */
    border: 1px solid #ddd; /* Границя комірок */
}

/* Стилізація рядків таблиці (парні і непарні) */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Фон парних рядків */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Фон непарних рядків */
}
